* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/sneg-i-snezhinki-blestyashchiy-siniy-fon-oboi-2560x1600_7.png);
  background-position: center;
  background-size: cover;
}

.main {
  margin-top: 20px;
  margin-bottom: 20px;
}